<h1>Boardgame Categories</h1>

<ul>
    <% @categories.each do |category| %>
        <li>
            <%= link_to category["name"], "/categories/#{category["id"]}" %>
        </li>
    <% end %>
</ul>