<div class="container">
    <div class="row">
        <div class="col">
            <center><h1>Top 100 Popular Boardgames</h1></center>
        </div>
    </div>

    <hr>

    <div class="row">
        <% @boardgames.each_with_index do |bg, index| %>
            <div class="col-lg">
                <img src=<%= bg["images"]["small"] %>>
                <%= link_to (index + 1).to_s + ") " + bg["name"], "/boardgames/#{bg["id"]}" %>
            </div>
        <% end %>
    </div>
</div>